@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	src: url("/dist/media/Inter-VariableFont.ttf") format("truetype-variations");
	font-weight: 100 200 300 400 500 600 700 800 900;
}
